header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin-bottom: 25px;
  margin-top: 20px;
}
